{% extends 'family_base.html' %}

{% block family_content %}
    <h3>Your calendars</h3>
        {% for calendar in user_calendars %}
            <a href="{% url 'calendar_detail' family_slug=family.slug calendar_pk=calendar.id%}">{{ calendar.name }}</a>
        {% endfor %}
        <a href="{% url 'calendar_create' family_slug=family.slug %}">+ Add calendar</a>

    <h2>{{ current_calendar.name }}</h2>
    {% for user in current_calendar.users.all %}
        {{ user.username }} ({{ user.first_name }} {{ user.last_name }})
    {% endfor %}
    <p><a href="{% url 'calendar_set_users' family_slug=family.slug calendar_pk=current_calendar.id %}">Add/remove members</a></p>


    <form action="{% url 'calendar_detail' family_slug=family.slug calendar_pk=current_calendar.id %}" method="post">
        {% csrf_token %}
        <label for="year">Year:</label>
        <input type="text" name="year" id="year" value="{% now "Y" %}">

        <label for="month">Month:</label>
        <select name="month" id="month">
            {% for month_number, month_name in months_all.items %}
                <option value="{{ month_number }}"
                        {% if month_number == month %}
                            selected
                        {% endif %}
                >{{ month_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go to selected date">
    </form>


    <ul>
        {% for day in day_data %}
            <li {% if day.day_number|divisibleby:2 %} style="background: papayawhip" {% endif %} >
                <b>{{ day.day_number }} - {{ day.day_of_week }}</b>
                <a href="{% url 'event_create' family_slug=family.slug calendar_pk=current_calendar.id year=year month=month day=day.day_number %}">+ New event</a>
                <br>
                {% for event in day.events %}
                    <p>
                        &gt;
                        {% if event.is_important %}
                            !!!
                        {% endif %}

                        {% if event.is_all_day %}
                            all day
                        {% else %}
                            {{ event.date|date:"H:i" }}
                        {% endif %}

                        - {{ event.title }}

                        {% if event.description %}
                            <br>
                            <div style="font-style: italic">&nbsp; description: {{ event.description }}</div>
                        {% endif %}
                    </p>
                {% empty %}
                {% endfor %}

            </li>
        {% endfor %}
    </ul>


{% endblock %}