{% extends 'base.html' %}
{% block content %}

    {% include 'navbar.html' %}

    <div class="container">
        <div class="container box py-5 my-5">
            <div class="container vertical-center">
                <h2>Choose a family</h2>
                {% for family in user_families %}
                    <a class="btn m-3" href="{% url 'family_main' family_slug=family.slug %}">{{ family.name }} ({{ family.last_name }})</a>
                    <br>
                {% empty %}
                    <div>You don't belong to any family!<br>You can create a new family or join existing family below:</div>
                {% endfor %}
            </div>

            <hr>

            <div class="container vertical-center">
                <a class="btn btn-add m-3" href="{% url 'family_create' %}">+ Create a family</a>
                <a class="btn btn-join m-3" href="{% url 'family_request_join' %}">& Join a family</a>
            </div>
        </div>

        <div class="container box py-5 my-5 vertical-center">
            <h2>Family invitations</h2>
            {% for family in inviting_families %}
                <a class="btn btn-join m-3" href="{% url 'family_join' family_slug=family.slug %}">! {{ family.name }} ({{ family.last_name }})</a>
            {% empty %}
                <div>
                    You don't have any family invitations right now.
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}