{%  extends 'family_base.html' %}

{% block family_content %}

    <h2>{{ user_family.name }} family ({{ user_family.last_name }})</h2>

    <div>
        Newest events stub
    </div>

    <div>
        Newest events stub
    </div>

    <div class="latest-image">
        <h3>Newest image from the Gallery</h3>
        <img src="{{ newest_media.image.url }}" alt="Newest media/image from family gallery">
        <a href="{% url 'gallery_detail' family_slug=user_family.slug pk=newest_media_gallery.id %}">Go to gallery</a>
    </div>

{%  endblock %}