{%  extends 'family_base.html' %}

{% block family_content %}

    <h2>{{ user_family.name }} family ({{ user_family.last_name }})</h2>

    <div>
        Newest events stub
    </div>

    <div>
        <h3>Newest wishes on the Wishlist</h3>
        {% for wish in newest_wishes %}
            <ul>
                <li>
                    <b>{{ wish.user.username }} ({{ wish.user.first_name }} {{ wish.user.last_name }})'s wish:</b>
                    <br>
                    {{ wish.title }}
                </li>
            </ul>
        {% empty %}
            Nobody needs anything right now. Brilliant!
        {% endfor %}
    </div>

    <div class="latest-image">
        <h3>Newest image from the Gallery</h3>
        {% if newest_media %}
            <img src="{{ newest_media.image.url }}" alt="Newest media/image from family gallery">
            <a href="{% url 'gallery_detail' family_slug=user_family.slug gallery_pk=newest_media_gallery.id %}">Go to gallery</a>
        {% else %}
            <b>There are no images in the family gallery yet!</b>
            <a href="{% url 'gallery_detail' family_slug=user_family.slug gallery_pk=newest_media_gallery.id %}">You can add pictures here...</a>
        {% endif %}
    </div>

{%  endblock %}