{% extends 'family_main.html' %}

{% block family_content %}

    <form action="{% url 'gallery_media_add' family_slug=family.slug pk=gallery.id%}">
        <input type="submit" value="Add new image">
    </form>

    {% for media in page_obj %}
        <img src="{{ media.image.url }}" alt="{{ media.title }}" height="400px" width="400px">
    {% endfor %}

    <div class="pagination" align="center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}