{% extends 'family_main.html' %}

{% block family_content %}

    <div class="container bg-yellow p-3">

        <div class="bg-white p-3 mb-3">
            <h1>
                {{ gallery.name }} <a class="btn btn-small" href="{% url 'gallery_media_add' family_slug=family.slug gallery_pk=gallery.id%}">+ New image</a>
            </h1>
        </div>

        {% include 'gallery_detail_pagination.html' %}

        <div class="row align-items-center">
            {% for media in page_obj %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 text-center">
                        <a href="{{ media.image.url }}"><img class="img-thumbnail" src="{{ media.image.url }}" alt="{{ media.title }}"></a>
                        <a class="btn btn-delete btn-small m-1" href="{% url 'gallery_media_delete' family_slug=family.slug gallery_pk=gallery.pk media_pk=media.pk %}">-</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include 'gallery_detail_pagination.html' %}

    </div>

{% endblock %}