{% extends 'family_main.html' %}

{% block family_content %}

    <h2>{{ family.name }} family galleries</h2>

    <a href="{% url 'gallery_create' family_slug=family.slug %}">+ Add gallery</a>
    <hr>
    {% for gallery, media in galleries %}
        {% load static %}
        {% if not media.image.url %}
            <img src="{% static 'default_covers/default_cover.jpg' %}" alt="gallery cover" width="200px" height="200px">
        {% else %}
            <img src="{{ media.image.url }}" alt="{{ gallery.name }}" width="200px" height="200px"/>
        {% endif %}
        <a href="{% url 'gallery_detail' family_slug=family.slug gallery_pk=gallery.id %}">{{ gallery.name }}</a>
        {% if not gallery.is_main %}
        <a href="{% url 'gallery_delete' family_slug=family.slug gallery_pk=gallery.id %}">[x]</a>
        {% endif %}
    {% endfor%}

{% endblock %}