{% extends 'base.html' %}
{% load static %}


{% block jumbotron %}

    <div class="jumbotron jumbotron-fluid text-center">
        <h1 class="display-4">
            Rodzynka
        </h1>
    </div>

{% endblock %}


{% block content %}
    <div class="vertical-center"></div>
    <div class="container my-5 vertical-center">
        <div class=" my-3">
            <form action="{% url 'signup' %}">
                <button class="btn" type="submit">Join</button>
            </form>
        </div>

        <div class=" my-3">
            <form action="{% url 'family_pick' %}">
                <button class="btn" type="submit">Log in</button>
            </form>
        </div>
    </div>

{% endblock %}