{% extends 'family_base.html' %}

{% block family_content %}

    <h2>{{ family.name }} family wishlist</h2>
    <hr>

    <a href="{% url 'wish_create' family_slug=family.slug %}">+ New wish</a>
    <hr>

    {% if not wishlist %}
        <b>There are no wishes on the wishlist yet!</b>
    {% else %}
        {% for user, user_wishes in wishlist %}
            <h3>{{ user }}'s wishes:</h3>
            <ul>
                {% for wish in user_wishes %}
                    <li>
                        {% if wish.is_important %}
                            <b>!!!</b>
                        {% endif %}
                        <b>{{ wish.title }}</b>
                        <p>{{ wish.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}

{% endblock %}